{#
/**
 * @file
 * Default theme implementation to display the Theme Inspector overview page.
 */
#}
{% macro button(name, label) %}
  <button class="ti-toolbar__button" title="{{ label }}" data-ti-toolbar-button="{{ name }}">
    <svg aria-hidden="true">
      <use xlink:href="#icon-{{ name }}"></use>
    </svg>
  </button>
{% endmacro %}
{# <icons #}
{{ source('@theme_inspector/toolbar-buttons.svg') }}
{# </icons #}
<div class="ti-overview" data-ti-app data-ti-cloak>
  {# <siderbar> #}
  <div class="ti-overview__sidebar ti-sidebar" data-ti-sidebar>
    <h2 class="ti-sidebar__header">{{ 'Previews'|t }}</h2>
    <form class="ti-sidebar__search" data-ti-search>
      <label for="ti-sidebar-search" class="visually-hidden">{{ 'Find preview'|t }}</label>
      <input placeholder="{{ 'Search'|t }}" id="ti-sidebar-search" type="search" class="ti-sidebar__search-input" data-ti-search-input/>
    </form>
    {% if preview_tree|length == 0 %}
      <p>{{ 'No previews available. Try to enable some of Theme Inspector sub-modules.'|t }}</p>
    {% endif %}
    {% for category_label, category_previews in preview_tree %}
      <details class="ti-sidebar__group" data-ti-group>
        <summary class="ti-sidebar__group-label">{{ category_label }} (<span data-ti-group-counter>{{ category_previews|length }}</span>)</summary>
        <ul class="ti-sidebar__group-list">
          {% for preview in category_previews %}
            <li class="ti-sidebar__group-item">
              <a class="ti-sidebar__group-list-link" href="{{ preview.url }}" data-ti-preview-link>
                {{ preview.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endfor %}
    <footer class="ti-sidebar__footer">
      <a href="{{ path('theme_inspector.settings') }}" class="ti-sidebar__config-link">
        <svg aria-hidden="true" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
        </svg>
        {{ 'Settings'|t }}
      </a>
    </footer>
  </div>
  {# </siderbar> #}
  {# <main-content> #}
  <div class="ti-overview__main-content ti-main-content" data-ti-main-content>
    {# <toolbar> #}
    <div class="ti-toolbar" data-ti-toolbar>
      {{ _self.button('reload', 'Reload') }}
      {{ _self.button('debug-overlay', 'Debug overlay') }}
      {{ _self.button('code', 'Source code') }}
      {{ _self.button('outline', 'Apply outlines to the preview') }}
      {{ _self.button('editable', 'Edit content') }}
      {{ _self.button('auth', 'Use current account to preview') }}
      {{ _self.button('fullscreen', 'Fullscreen') }}
      {{ _self.button('new-window', 'Open in new window') }}
      <div class="ti-toolbar__separator"></div>
      <div class="ti-toolbar__zoom-widget ti-zoom-widget" data-ti-zoom-widget>
        <button class="ti-zoom-widget__button" data-ti-zoom-out aria-label="{{ 'Zoom out'|t }}">–</button>
        <output class="ti-zoom-widget__output" data-ti-zoom>100%</output>
        <button class="ti-zoom-widget__button" data-ti-zoom-in aria-label="{{ 'Zoom in'|t }}">+</button>
      </div>
      <div class="ti-toolbar__variation-list">
        <select id="ti-toolbar-variation-list" data-ti-toolbar-variation-list></select>
        <label for="ti-toolbar-variation-list">{{ 'Variation' }}:</label>
      </div>
    </div>
    {# </toolbar> #}
    {# <preview> #}
    <div class="ti-preview ti-main-content__preview" data-ti-preview>
      <iframe class="ti-preview__doc" title="" srcdoc="No preview selected."></iframe>
    </div>
    {# </preview> #}
  </div>
  {# <main> #}
</div>

{{ attach_library('theme_inspector/overview') }}
